.two-columns{
  width: 80%;
  margin:auto;
  justify-content: space-between;
  padding-top:100px;
  display: flex;
  min-width: 784px;
}
.two-columns__brief{
  width: 175px;
  color: #2F80ED;
}
.two-columns__main-text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 80%;
  min-width: 784px;
}
.two-columns__paragraph{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  padding-bottom: 30px;
}
.two-columns__paragraph:last-of-type {
  padding: 0;
}
.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}