
.kaufman{
  color: #fff;
  background-color: #1F1F1F;
  padding: 90px 0;
  position: relative;
  overflow: hidden;
}

.section-title_theme_dark{position: inherit;}
.section-subtitle_theme_dark{position: inherit;}
.table__container_theme_dark{position: inherit;}

.table__cell_theme_dark{
  width: 200px;
  margin-top: 80px;
  padding: 0;
}

.kaufman__triangle{
  position: absolute;
  right: -124px;
  top: 0;
  width: 660px;
  height: 636px;
}